<div>
    <form class="form-horizontal" name="register_form" >
        <div class="form-group">
            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="model.username" required >
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="model.password" required >
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-2">
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password" ng-model="model.passwordConfirm" required pw-check="inputPassword">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="action()" ng-disabled="register_form.$invalid" >Submit</button>
                <button type="submit" class="btn btn-default" ng-click="cancel()" >Cancel</button>
            </div>
        </div>
    </form>
</div>